* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}
h1{
    text-align: center;
    padding-top: 60px;
    font-size: 40px;
    color: #660066;
}

.container {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 30%;
    left: 40%;
    /* align-items: center; */
    gap: 30px; 
    height: 100vh;
}

.prod-img-container {
    display: flex;
    position: fixed;
    top: 25%;
    left: 33%;
    flex-direction: column;
    align-items: center; 
}
